<!-- Home page -->

<html>
  <head>
    <title>Fish Camp Home</title>
    <style>
    table, th, td {
      border: 1px solid black;
    }
  </style>
  </head>

  <body>
    <h1 style="font-size:300%">Fish Camp Homepage</h1>
    <%= link_to 'Home', home_path %>
    &emsp;
    <%= link_to 'Register Now', register_path %>
    &emsp;
    <%= link_to 'FishCamp Profile', profile_path %>
    &emsp;
    <% link_to 'Applicant Database', applicantdb_path %>
    <br>
    <br>
    <div>
      
      <% if current_user %>
        Signed in as <strong><%= current_user.name %></strong>!
        <%= link_to "Sign out", signout_path, id: "sign_out" %>
      <% else %>
        <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
      <% end %>
    </div>
    <div>
      <h2>Import Applicant Spreadsheet</h2>

      <%= form_tag import_applicant_path, multipart: true do %>
        <%= file_field_tag :file %>
        <%= submit_tag "Import" %>
      <% end %>
    </div>
    <div>
    <%= yield %>
    </div>
    <br>
    <h1>Online Registration</h1>
    <br>
    <hr>
    <section>
      <h2>Basic Information</h2>
      <p>
        <b>Freshman registration dates:</b><br>
        &emsp; May 21, 2018 3:00pm to Jun 11, 2018 3:00pm<br>
        <b>Current status:</b><br>
        &emsp; Closed<br><br>
        For additional information, please check out <a href="https://fishcamponline.tamu.edu/static/documents/FreshmanInformationPacket.pdf">The Freshman Information Packet</a> (PDF), call the Fish Camp office at (979) 845-1627 or e-mail us at <a href="fishcamphelp@fishcamp.tamu.edu">fishcamphelp@fishcamp.tamu.edu</a><br>
      </p>
    </section>
    <hr>
    <section>
      <h2>Helpful Resources</h2>
      <ul>
        <li><a href="https://fishcamponline.tamu.edu/static/documents/MedicalReleaseForm.pdf">Medical Release Form</a> (PDF)</li>
        <li><a href="https://fishcamponline.tamu.edu/forms/refunds">Cancellation/Refund Request Form</a></li>
        <li><a href="https://fishcamponline.tamu.edu/registration/index/sessionchange">Session Change Form</a></li>
        <li><a href="https://fishcamponline.tamu.edu/static/documents/FishCampBrochure.pdf">Freshman Registration Brochure</a> (PDF)</li>
      </ul>
    </section>
    <hr>
    <section>
      <h2>Session Dates and Current Status</h2>
      <table>
        <tr>
          <th>Session A</th>
          <th>July 27 - July 30</th>
          <th>Closed</th>
        </tr>
        <tr>
          <th>Session B</th>
          <th>July 30 - August 2</th>
          <th>Closed</th>
        </tr>
        <tr>
          <th>Session C</th>
          <th>August 2 - August 5</th>
          <th>Closed</th>
        </tr>
        <tr>
          <th>Session D</th>
          <th>August 5 - August 8</th>
          <th>Closed</th>
        </tr>
        <tr>
          <th>Session E</th>
          <th>August 8 - August 11</th>
          <th>Closed</th>
        </tr>
        <tr>
          <th>Session F</th>
          <th>August 11 - August 14</th>
          <th>Closed</th>
        </tr>
        <tr>
          <th>Session G</th>
          <th>August 14 - August 17</th>
          <th>Closed</th>
        </tr>
      </table>
    </section>
    <hr>
    <section>
      <h2>Registration Requirements</h2>
      <p>In order to register for Fish Camp, you must:</p>
      <ul>
        <li>Have an activated TAMU student NetID. Your NetID is different than your University Identification Number (UIN). If you have not already activated your NetID, <a href="https://services.tamu.edu/netid-activate/">click here</a> to do so now. Fish Camp recommends that you obtain this well in advance of the registration date.</li>
        <li>Have medical insurance/emergency contact information. The medical release form is located online, and is completed as part of the registration process.</li>
        <li>Have the date of your last tetanus booster.</li>
        <li>Use a modern browser that supports JavaScript.</li>
      </ul>
    </section>
    <hr>
    <section>
      <h2>The Registration Process</h2>
      <p>The registration process works as follows:</p>
      <ol>
        <li>Sign in with TAMU student NetID to identify yourself; please note TAMU Guest NetIDs and Parent NetIDs cannot be used for registration.</li>
        <li>Submit basic registration information which includes (Contact/Guardian Info, Allergies, Special Accommodations)</li>
        <li>Select the session you will attend</li>
        <li>Confirm information and press submit Registration.</li>
        <li>Submit payment, or choose alternate payment method</li>
      </ol>
    </section>
    <hr>
    <section>
      <h2>Payments &#38; Fees</h2>
      <p><b>The fee for Fish Camp is $225.00.</b> This fee covers registration, travel, food, and lodging.</p>
      <p>Online registration is payable by credit card or electronic check. American Express, Discover, Mastercard, and Visa are accepted for online credit card payment.</p>
      <p>Alternate payment options listed below are available and can be selected from within the online application:</p>
      <ul>
        <li>Fee payment via installment plan</li>
        <li>Scholarship applications</li>
      </ul>
    </section>
    <hr>
    <section>
      <h2>Special Session Considerations</h2>
      <p>If you are going to be involved in the following programs, these are the sessions that conflict with the schedule of your event:</p>
      <table>
        <thead>
          <tr style="font-size:110%;">
            <th>Program Name</th>
            <th>&emsp;A&emsp;</th>
            <th>&emsp;B&emsp;</th>
            <th>&emsp;C&emsp;</th>
            <th>&emsp;D&emsp;</th>
            <th>&emsp;E&emsp;</th>
            <th>&emsp;F&emsp;</th>
            <th>&emsp;G&emsp;</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th style="text-align:left">Sorority Recruitment</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:red">X</th>
          </tr>
          <tr>
            <th style="text-align:left">Gateway Program</th>
            <th style="color:red">X</th>
            <th style="color:red">X</th>
            <th style="color:red">X</th>
            <th style="color:red">X</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
          </tr>
          <tr>
            <th style="text-align:left">Blinn TEAM</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
          </tr>
          <tr>
            <th style="text-align:left">Corps of Cadets FOW</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:red">X</th>
          </tr>
          <tr>
            <th style="text-align:left">Corps of Cadets Band FOW</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:red">X</th>
          </tr>
          <tr>
            <th style="text-align:left">Impact Alpha</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:red">X</th>
            <th style="color:red">X</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
          </tr>
          <tr>
            <th style="text-align:left">Impact Delta</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:red">X</th>
            <th style="color:red">X</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
          </tr>
          <tr>
            <th style="text-align:left">Impact Omega</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:red">X</th>
            <th style="color:red">X</th>
            <th style="color:green">&#10004;</th>
          </tr>
          <tr>
            <th style="text-align:left">FOCUS Learning Community</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
          </tr>
          <tr>
            <th style="text-align:left">ExCEL</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
          </tr>
          <tr>
            <th style="text-align:left">Engineering at Galveston Program&emsp;&emsp;&emsp;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
            <th style="color:green">&#10004;</th>
          </tr>
        </tbody>
      </table>
    </section>
    <hr>
    <section>
      <h2>Registration Confirmation</h2>
      <p>Your session will be confirmed at the time of your payment. You will receive a receipt which will serve as a confirmation that you have registered. If you are applying for a scholarship, your session will be confirmed temporarily, until a scholarship is awarded or payment is received</p>
      <p>You will receive a Fish Camp Notification email by July 15th to your TAMU email that consists of:</p>
      <ul>
        <li>Your session</li>
        <li>Information about parking on-campus for your session of Fish Camp</li>
        <li>A suggested list of items to pack</li>
        <li>General information about attending camp</li>
        <li>Details about the cancellation and refund process</li>
      </ul>
      <p>If the session you signed up for is full and you were placed on a wait-list, you will have the opportunity to ask for a refund. If you do not receive a confirmation e-mail within four days of of registering, please contact the Fish Camp office at (979) 845-1627 or e-mail us at <a href="fishcamphelp@fishcamp.tamu.edu">fishcamphelp@fishcamp.tamu.edu</a>.</p>
    </section>
    <hr>
    <section>
      <h2>Changes to Session Dates</h2>
      <p>Please double check your calendar before registering for Fish Camp. Fish Camp makes every effort to provide all freshmen the opportunity to attend camp, but it is extremely difficult to change sessions once you have already been placed in one. If your schedule changes and you are unable to attend your available and/or assigned session, you may withdraw your particular request and be placed on a waiting list for an alternate session.</p>
      <p>Please note the following implications to changing a session:</p>
      <ul>
        <li>Session change forms must be submitted by July 9, 2017 at 3:00pm.</li>
        <li>Your session guarantee will be relinquished.</li>
        <li>You run the risk of not being assigned to another session due to other sessions being filled to maximum capacity.</li>
      </ul>
    </section>
    <hr>
    <br>
    <section style="text-align:center;">
      <h3>Operated by <a href="http://fishcamp.tamu.edu/">Fish Camp</a> at <a href="http://www.tamu.edu/">Texas A&#38;M University</a></h3>
      <h3>Hosted by <a href="http://studentactivities.tamu.edu/IT">Student Activities</a> &middot; <a href="http://studentactivities.tamu.edu/site_policies">Site Policies</a></h3>
    </section>
  </body>
</html>