<!-- interview page -->

<html>
  
  <head>
    <title>Fish Camp Interviews</title>
  </head>

  <body>

    <div class="header">
      <p>
        <% if current_user %>
          Signed in as <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
          <br>
          Please use a valid TAMU Google login.
        <% end %>
      </p>
    </div>

    <div class = "body">
    <div class = "title">
      <br>
      <h style="font-size:300%">&emsp;&#x1F41F Fish Camp Interviews</h>
      <br><br>
    </div>

    <ul class = "bar">
      <li class = "bar"><%= link_to 'Home', home_path %></li>
      <li class = "bar"><%= link_to "Register Now", register_path %></li>
      <li class = "bar"><%= link_to 'FC Profile', profile_path %></li>
      <% if current_user %>
        <% if (current_user.role == 'admin' || current_user.role == 'chair') %>
          <li class = "bar"><%= link_to 'Applicant Database', applicants_path %></li>
        <% end %>
      <% end %>
    </ul>
    <br>

    <h2>Please write your responses in the textboxes below.</h2>
    <hr>

    <p>Interview Question 1
    &emsp;&emsp;<%= text_field(:post, :question1, size: 100) %></p>
    <br>
    <p>Interview Question 2
    &emsp;&emsp;<%= text_field(:post, :question2, size: 100) %></p>
    <br>
    <p>Interview Question 3
    &emsp;&emsp;<%= text_field(:post, :question3, size: 100) %></p>
    <br>

    <br>
    <p><button>
      <%= link_to 'Submit', applicants_path %>
    </button>
    Currently, just returns to applicants_path without saving anything
    </p>
    <br>

    </div>
    <div class = "footer">
      <h3>Operated by <a href="http://fishcamp.tamu.edu/">Fish Camp</a> at <a href="http://www.tamu.edu/">Texas A&#38;M University</a>
      <br>
      Hosted by <a href="http://studentactivities.tamu.edu/IT">Student Activities</a> &middot; <a href="http://studentactivities.tamu.edu/site_policies">Site Policies</a></h3>
    </div>
    <br>
  </body>
</html>
