<!-- Profile page -->

<section>
  <h2>Hello, <strong><%= current_user.name %></strong></h2>
  <h3>Your current profile information:</h3>
  <p>Name: <strong><%= current_user.name %></strong></p>
  <p>UIN: <strong><%= current_user.uin %></strong></p>
  <p>Email: <strong><%= current_user.email %></strong></p>
  <p>Role: <strong><%= current_user.role %></strong></p>
</section>
