<!-- Profile page -->

<html>
  <head>
    <title>Fish Camp Profile</title>
  </head>

  <body>
    <p style="text-align:right">
        <% if current_user %>
          Signed in as <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
          <br>
          Please use a valid TAMU Google login.
        <% end %>
      </p>
    </div>
    <div>
    <%= yield %>
    </div>
    <h1 style="font-size:300%">Fish Camp Homepage</h1>
    <%= link_to 'Home', home_path %>
    &emsp;
    <%= link_to 'Register Now', register_path %>
    &emsp;
    <%= link_to 'FishCamp Profile', profile_path %>
    <br>
    <h1>Fish Camp Profile</h1>
    <br>
    <hr>
    <section>
      <h2>Again, we should discuss login procedures, and what exactly goes in here</h2>
    </section>
  </body>
</html>