<!-- Profile page -->

<html>
  <head>
    <title>Fish Camp Profile</title>
  </head>

  <body>
    <div class = "header">
      <p style="text-align:right">
        <% if current_user %>
          Signed in as <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out", style: 'color:#FFFFFF;' %>
        <% else %>
          <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", style: 'color:#FFFFFF;' %>
          <br>
          Please use a valid TAMU Google login.
        <% end %>
      </p>
    </div>

    <div class = "body">
    <div class = "title">
      <br>
      <h style="font-family: 'Oswald'; font-size:300%">&emsp;&#x1F41F Fish Camp Profile</h>
      <br><br>
    </div>
    <div>
    <%= yield %>
    </div>
    <ul class = "bar">
      <li class = "bar"><%= link_to 'Home', home_path %></li>
      <li class = "bar"><%= link_to "Register Now", register_path %></li>
      <li class = "bar"><%= link_to 'FC Profile', profile_path %></li>
      <% if current_user %>
        <% if (current_user.role == 'admin' || current_user.role == 'chair') %>
          <li class = "bar"><%= link_to 'Applicant Database', applicants_path %></li>
        <% end %>
      <% end %>
      <% if current_user %>
        <% if (current_user.role == 'admin') %>
          <li class = "bar"><%= link_to 'Admin Console', admin_path %>
        <% end %>
      <% end %>
    </ul>
    <br>
    <section>
      <h2>Hello, <strong><%= current_user.name %></strong></h2>
      <br>
      <h3>Your current profile information:</h3>
      <p>Name: <strong><%= current_user.name %></strong></p>
      <p>UIN: <strong><%= current_user.uin %></strong></p>
      <p>Email: <strong><%= current_user.email %></strong></p>
      <p>Role: <strong><%= current_user.role %></strong></p>
    </section>
    <br>
    </div>
    <div class = "footer">
      <h3>Operated by <a class = "white" href="http://fishcamp.tamu.edu/">Fish Camp</a> at <a class = "white" href="http://www.tamu.edu/">Texas A&#38;M University</a>
      <br>
      Hosted by <a class = "white" href="http://studentactivities.tamu.edu/IT">Student Activities</a> &middot; <a class = "white" href="http://studentactivities.tamu.edu/site_policies">Site Policies</a></h3>
    </div>
    <br>
  </body>
</html>
