<!-- Admin page -->

<p style="text-align:center">
  <h4>
    Users
  </h4>
  <%= form_tag(admin_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search1, params[:search1], placeholder: "Search Users" %>
  <%= submit_tag "Search", :name => nil %>
<% end %>
</p>
<% if @users.blank? %>
  <h4>There are no users matching <%= params[:search1] %>.</h4>
<% else %>
<section>
  <table id="Users" style="text-align: center">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Role</th>
      <th>Make Admin</th>
      <th>Make Chair</th>
      <th>Make Guest</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <%= link_to "Make Admin", makeAdmin_users_path(:id => user.id ), :method => :get%></td>
        <td>
          <%= link_to "Make Chair", "/admin/#{user.id}" %></td>
        <td>
          <%= link_to "Make Guest", makeGuest_users_path(:id => user.id ), :method => :get%></td>
      </tr>
    <% end %>
  </table>
</section>
<% end %>
<br>
<p style="text-align:center">
<h4>
  Applicants
</h4>
<%= form_tag(admin_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search2, params[:search2], placeholder: "Search Applicants" %>
<%= submit_tag "Search", :name => nil %>
<% end %>
</p>
<% if @applicants.blank? %>
  <h4>There are no applicants matching <%= params[:search2] %>.</h4>
<% else %>
<section>
<table id="Applicants" style="text-align: center">
  <tr>
    <th>UIN</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Sessions</th>
    <th></th>
  </tr>
  <% @applicants.each do |applicant| %>
    <tr>
      <td><%= link_to applicant.uin, edit_applicants_path(:uin => applicant.uin ), :method => :get%></td>
      <td><%= applicant.first_name %></td>
      <td><%= applicant.last_name %></td>
      <td><%= applicant.sessions.pluck(:name).sort.join(", ") %></td>
      <td>
        <%= link_to "Delete", applicant, :method => :delete, :data => {:confirm => 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate @applicants %>
<p>
  <%= button_to "Delete All", delete_all_applicants_path, class: "redbutton", data: {:confirm => 'Are you sure you want to delete all applicants?'} %>
</p>
<br>
</section>
<% end %>
