<!-- Admin page -->

<html>
  <head>
    <title>Fish Camp Registration</title>
  </head>

  <body>
    <div class = "header">
      <p style="text-align:right">
        <% if current_user %>
          Signed in as <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
          <br>
          Please use a valid TAMU Google login.
        <% end %>
      </p>
    </div>

    <div class="body">
    <div class = "title">
      <br>
      <h style="font-size:300%">&emsp;&#x1F41F Fish Camp Redirect</h>
      <br><br>
    </div>
    <div>
    <%= yield %>
    </div>
    <ul class = "bar">
      <li class = "bar"><%= link_to 'Home', home_path %>
      &emsp;
      <li class = "bar"><%= link_to "Register Now", login_path(:reqpath => 'register') %>
      &emsp;
      <li class = "bar"><%= link_to 'FishCamp Profile', login_path(:reqpath => 'profile') %>
      &emsp;
      <% if current_user %>
        <% if (current_user.role == 'admin' || current_user.role == 'chair') %>
          <li class = "bar"><%= link_to 'Applicant Database', applicants_path %>
        <% end %>
      <% end %>
    </ul>
    <br>
    
    <p style="text-align:center">
        <h4> Users </h4>
        <%= form_tag(admin_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search1, params[:search1], placeholder: "Search Users" %>
            <%= submit_tag "Search", :name => nil %>
        <% end %>
    </p>
        <% if @users.blank? %>
          <h4>There are no users matching  <%= params[:search1] %>.</h4>
        <% else %>
           <section>
              <table id="Users" style="text-align: center">
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Role</th>
                 </tr>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.name %></td>
                  <td><%= user.email %></td>
                  <td><%= user.role %></td>
                </tr>
              <% end %>
              </table>
            </section>
        <% end %>
    <br>
    <p style="text-align:center">
        <h4> Applicants </h4>
        <%= form_tag(admin_path, :method => "get", id: "search-form") do %>
            <%= text_field_tag :search2, params[:search2], placeholder: "Search Applicants" %>
            <%= submit_tag "Search", :name => nil %>
        <% end %>
         <% if @applicants.blank? %>
          <h4>There are no applicants matching  <%= params[:search2] %>.</h4>
        <% else %>
           <section>
           <table id="Applicants" style="text-align: center">
                <tr>
                  <th>UIN</th>
                  <th>First Name</th>
                  <th>Last Name</th>
                  <th>Sessions</th>
                  <th> </th>
                </tr>
           <% @applicants.each do |applicant| %>
                <tr>
                   <td><%= applicant.uin %></td>
                   <td><%= applicant.first_name %></td>
                   <td><%= applicant.last_name %></td>
                   <td><%= applicant.sessions.pluck(:name).sort.join(", ") %></td>
                   <td> <%= link_to "Delete", applicant, :method => :delete, :data => {:confirm => 'Are you sure?'} %></td>
                </tr>
           <% end %>
           </table>
           <%= link_to "Delete All", delete_all_applicants_path, :method => :get, :data => {:confirm => 'Are you sure?'} %>
           <br> 
           </section>
        <% end %>
    </p>
    </div>
    <div class = "footer">
      <h3>Operated by <a href="http://fishcamp.tamu.edu/">Fish Camp</a> at <a href="http://www.tamu.edu/">Texas A&#38;M University</a>
      <br>
      Hosted by <a href="http://studentactivities.tamu.edu/IT">Student Activities</a> &middot; <a href="http://studentactivities.tamu.edu/site_policies">Site Policies</a></h3>
    </div>
    <br>
  </body>
</html>