<!-- Edit Applicant page -->
<html>
  <head>
    <title>Fish Camp Registration</title>
  </head>
  <% unless flash.empty? %>
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= key.upcase %>: <%= value %></div>
        <% end %>
      </div>
  <% end %>
  <body>
    <div class = "header">
      <p style="text-align:right">
        <% if current_user %>
          Signed in as <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out", style: 'color:#FFFFFF;' %>
        <% else %>
          <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in", style: 'color:#FFFFFF;' %>
          <br>
          Please use a valid TAMU Google login.
        <% end %>
      </p>
    </div>

    <div class="body">
    <div class = "title">
      <br>
      <h style="font-size:300%">&emsp;&#x1F41F Fish Camp Redirect</h>
      <br><br>
    </div>
    <div>
    <%= yield %>
    </div>
    <ul class = "bar">
      <li class = "bar"><%= link_to 'Home', home_path %></li>
      <li class = "bar"><%= link_to "Register Now", register_path %></li>
      <li class = "bar"><%= link_to 'FC Profile', profile_path %></li>
      <% if current_user %>
        <% if (current_user.role == 'admin' || current_user.role == 'chair') %>
          <li class = "bar"><%= link_to 'Applicant Database', applicants_path %></li>
        <% end %>
      <% end %>
      <% if current_user %>
        <% if (current_user.role == 'admin') %>
          <li class = "bar"><%= link_to 'Admin Console', admin_path %>
        <% end %>
      <% end %>
    </ul>
    <br>
    
    <%= form_for @applicant, url: applicants_path + "/update/#{@applicant.uin}", :method => :POST do |f| %>
    <p>
      <%= f.label :first_name %>
      <%= f.text_field :first_name %>
    </p>

    <p>
      <%= f.label :last_name %>
      <%= f.text_field :last_name %>
    </p>
    
    
    <p>
      <%= f.label :uin, "UIN" %>
      <%= f.text_field :uin %>
    </p>
    
    <p>
      <%= f.label :gender %>
      <%= f.text_field :gender %>
    </p>
    
    <p>
      <%= f.label :tamu_email %>
      <%= f.text_field :tamu_email, :size=>"30" %>
    </p>
    
    <p>
      <%= f.label :other_email %>
      <%= f.text_field :other_email, :size=>"30" %>
    </p>
    
    <p>
      <%= f.label :phone %>
      <%= f.text_field :phone %>
    </p>
    
    <!-- NEW SET BEGINS -->
    <p>
      <%= f.label :birthdate %>
      <%= f.text_field :birthdate %>
    </p>
    
    <p>
      <%= f.label :classification %>
      <%= f.text_field :classification %>
    </p>
    
    <p>
      <%= f.label :major %>
      <%= f.text_field :major %>
    </p>
    
    <p>
      <%= f.label :anticipated_graduation %>
      <%= f.text_field :anticipated_graduation %>
    </p>
    
    <p>
      <%= f.label :address %>
      <%= f.text_field :address, :size=>"50" %>
    </p>
    
     <p>
      Extracurricular Activities <br>
      <%= f.text_area :extracurriculars, size: "60x4" %>
    </p>
    
    <p>
      <%= f.label :shirt_size %>
      <%= f.text_field :shirt_size %>
    </p>
    
     <br>
    <p>
      Parent Information:
    </p>
    <p>
      <%= f.label :parent_name, "Name " %>
      <%= f.text_field :parent_name %>
    </p>
    
    <p>
      <%= f.label :parent_phone, "Phone number " %>
      <%= f.text_field :parent_phone %>
    </p>
    
    <p>
      <%= f.label :parent_email, "Email " %>
      <%= f.text_field :parent_email, :size=>"30" %>
    </p>
    
    <p>
      <%= f.label :parent_address, "Address " %>
      <%= f.text_field :parent_address, :size=>"40" %>
    </p>
    
    <p>
      <%= f.label :parent_city, "City " %>
      <%= f.text_field :parent_city %>
    </p>
    
    <p>
      <%= f.label :parent_state, "State " %>
      <%= f.text_field :parent_state %>
    </p>
    
    <p>
      <%= f.label :parent_zip, "Zip Code " %>
      <%= f.text_field :parent_zip %>
    </p>
    
    <br>
    <p>
      Alternate Contact 1 Information:
    </p>
    <p>
      <%= f.label :alt_contact_1_name, "Name " %>
      <%= f.text_field :alt_contact_1_name %>
    </p>
    
    <p>
      <%= f.label :alt_contact_1_phone, "Phone number " %>
      <%= f.text_field :alt_contact_1_phone %>
    </p>
    
    <p>
      <%= f.label :alt_contact_1_email, "Email " %>
      <%= f.text_field :alt_contact_1_email, :size=>"30" %>
    </p>
    
    <p>
      <%= f.label :alt_contact_1_address, "Address " %>
      <%= f.text_field :alt_contact_1_address, :size=>"40" %>
    </p>
    
    <p>
      <%= f.label :alt_contact_1_city, "City " %>
      <%= f.text_field :alt_contact_1_city %>
    </p>
    
    <p>
      <%= f.label :alt_contact_1_state, "State " %>
      <%= f.text_field :alt_contact_1_state %>
    </p>
    
    <p>
      <%= f.label :alt_contact_1_zip, "Zip code " %>
      <%= f.text_field :alt_contact_1_zip %>
    </p>
    
    <br>
    <p>
      Alternate Contact 2 Information:
    </p>
    <p>
      <%= f.label :alt_contact_2_name, "Name " %>
      <%= f.text_field :alt_contact_2_name %>
    </p>
    
    <p>
      <%= f.label :alt_contact_2_phone, "Phone number " %>
      <%= f.text_field :alt_contact_2_phone %>
    </p>
    
    <p>
      <%= f.label :alt_contact_2_email, "Email " %>
      <%= f.text_field :alt_contact_2_email, :size=>"30" %>
    </p>
    
    <p>
      <%= f.label :alt_contact_2_address, "Address " %>
      <%= f.text_field :alt_contact_2_address, :size=>"40" %>
    </p>
    
    <p>
      <%= f.label :alt_contact_2_city, "City " %>
      <%= f.text_field :alt_contact_2_city %>
    </p>
    
    <p>
      <%= f.label :alt_contact_2_state, "State " %>
      <%= f.text_field :alt_contact_2_state %>
    </p>
    
    <p>
      <%= f.label :alt_contact_2_zip, "Zip code " %>
      <%= f.text_field :alt_contact_2_zip %>
    </p>
    
    <br> 
    Insurance Information:
    <p>
      <%= f.label :insurance_provider%>
      <%= f.text_field :insurance_provider %>
    </p>
    
    <p>
      <%= f.label :insurance_policy_number%>
      <%= f.text_field :insurance_policy_number %>
    </p>
    
    <p>
      <%= f.label :insurance_policy_holder_name%>
      <%= f.text_field :insurance_policy_holder_name %>
    </p>
    
    <br>
    Health Information:
    
    <p>
      <%= f.submit %>
    </p>
    <br>
    <% end %> 
    
    </div>
    <div class = "footer">
      <h3>Operated by <a class = "white" href="http://fishcamp.tamu.edu/">Fish Camp</a> at <a class = "white" href="http://www.tamu.edu/">Texas A&#38;M University</a>
      <br>
      Hosted by <a class = "white" href="http://studentactivities.tamu.edu/IT">Student Activities</a> &middot; <a class = "white" href="http://studentactivities.tamu.edu/site_policies">Site Policies</a></h3>
    </div>
    <br>
  </body>
</html>
