<!-- Edit Applicant page -->
<%= form_for @applicant do |f| %>
<h4>Applicant Information</h4>
<p>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</p>

<p>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</p>


<p>
  <%= f.label :uin, "UIN" %>
  <%= f.text_field :uin %>
</p>

<p>
  <%= f.label :gender %>
  <%= f.text_field :gender %>
</p>

<p>
  <%= f.label :tamu_email, "Texas A&M Email" %>
  <%= f.text_field :tamu_email, :size=>"30" %>
</p>

<p>
  <%= f.label :other_email, "Other Email" %>
  <%= f.text_field :other_email, :size=>"30" %>
</p>

<p>
  <%= f.label :phone %>
  <%= f.text_field :phone %>
</p>

<!-- NEW SET BEGINS -->
<p>
  <%= f.label :birthdate %>
  <%= f.text_field :birthdate %>
</p>

<p>
  <%= f.label :classification %>
  <%= f.text_field :classification %>
</p>

<p>
  <%= f.label :major %>
  <%= f.text_field :major %>
</p>

<p>
  <%= f.label :anticipated_graduation, "Anticipated Graduation Date " %>
  <%= f.text_field :anticipated_graduation %>
</p>

<p>
  <%= f.label :address %>
  <%= f.text_field :address, :size=>"50" %>
</p>

 <p>
  Extracurricular Activities <br>
  <%= f.text_area :extracurriculars, size: "60x4" %>
</p>

<p>
  <%= f.label :shirt_size, "Shirt Size" %>
  <%= f.text_field :shirt_size %>
</p>
<br>
<h4>Fish Camp Information</h4>
<p>Session Availability</p>
<p>
<% ("A".."G").each do |session|%>
  <%= check_box_tag "sessions[#{session}]", session, @applicant.sessions.pluck(:name).include?(session) %>
  <%= session %>
<% end %>
</p>
<p>
  <%= f.label :camp_counselor, "Applying for Camp Counselor "  %>
  <%= f.check_box :camp_counselor %>
</p>

<p>
  <%= f.label :crew_counselor, "Applying for Crew Counselor "  %>
  <%= f.check_box :crew_counselor %>
</p>

<p>
  <%= f.label :pick_up_only, "Only Applying for Pick Up Counselor "  %>
  <%= f.check_box :pick_up_only %>
</p>

<p>
  <%= f.label :camp_history, "Camp History "  %>
  <%= f.text_field :camp_history, :size=>"80" %>
</p>



<p>
  <%= f.label :no_show_explanation, "Fish Camp No Show Explanation "  %>
  <%= f.text_field :no_show_explanation, :size=>"80" %>
</p>

<br>
<p>
  <h4>Parent Information</h4>
</p>
<p>
  <%= f.label :parent_name, "Name " %>
  <%= f.text_field :parent_name %>
</p>

<p>
  <%= f.label :parent_phone, "Phone Number " %>
  <%= f.text_field :parent_phone %>
</p>

<p>
  <%= f.label :parent_email, "Email " %>
  <%= f.text_field :parent_email, :size=>"30" %>
</p>

<p>
  <%= f.label :parent_address, "Address " %>
  <%= f.text_field :parent_address, :size=>"40" %>
</p>

<p>
  <%= f.label :parent_city, "City " %>
  <%= f.text_field :parent_city %>
</p>

<p>
  <%= f.label :parent_state, "State " %>
  <%= f.text_field :parent_state %>
</p>

<p>
  <%= f.label :parent_zip, "Zip Code " %>
  <%= f.text_field :parent_zip %>
</p>

<br>
<p>
  <h4>Alternate Contact 1 Information</h4>
</p>
<p>
  <%= f.label :alt_contact_1_name, "Name " %>
  <%= f.text_field :alt_contact_1_name %>
</p>

<p>
  <%= f.label :alt_contact_1_phone, "Phone Number " %>
  <%= f.text_field :alt_contact_1_phone %>
</p>

<p>
  <%= f.label :alt_contact_1_email, "Email " %>
  <%= f.text_field :alt_contact_1_email, :size=>"30" %>
</p>

<p>
  <%= f.label :alt_contact_1_address, "Address " %>
  <%= f.text_field :alt_contact_1_address, :size=>"40" %>
</p>

<p>
  <%= f.label :alt_contact_1_city, "City " %>
  <%= f.text_field :alt_contact_1_city %>
</p>

<p>
  <%= f.label :alt_contact_1_state, "State " %>
  <%= f.text_field :alt_contact_1_state %>
</p>

<p>
  <%= f.label :alt_contact_1_zip, "Zip Code " %>
  <%= f.text_field :alt_contact_1_zip %>
</p>

<br>
<p>
  <h4>Alternate Contact 2 Information</h4>
</p>
<p>
  <%= f.label :alt_contact_2_name, "Name " %>
  <%= f.text_field :alt_contact_2_name %>
</p>

<p>
  <%= f.label :alt_contact_2_phone, "Phone Number " %>
  <%= f.text_field :alt_contact_2_phone %>
</p>

<p>
  <%= f.label :alt_contact_2_email, "Email " %>
  <%= f.text_field :alt_contact_2_email, :size=>"30" %>
</p>

<p>
  <%= f.label :alt_contact_2_address, "Address " %>
  <%= f.text_field :alt_contact_2_address, :size=>"40" %>
</p>

<p>
  <%= f.label :alt_contact_2_city, "City " %>
  <%= f.text_field :alt_contact_2_city %>
</p>

<p>
  <%= f.label :alt_contact_2_state, "State " %>
  <%= f.text_field :alt_contact_2_state %>
</p>

<p>
  <%= f.label :alt_contact_2_zip, "Zip Code " %>
  <%= f.text_field :alt_contact_2_zip %>
</p>

<br>
<h4>Insurance Information</h4>
<p>
  <%= f.label :insurance_provider, "Insurance Provider "%>
  <%= f.text_field :insurance_provider %>
</p>

<p>
  <%= f.label :insurance_policy_number, "Insurance Policy Name " %>
  <%= f.text_field :insurance_policy_number %>
</p>

<p>
  <%= f.label :insurance_policy_holder_name, "Insurance Policy Holder Name "%>
  <%= f.text_field :insurance_policy_holder_name %>
</p>

<br>
<h4>Health Information</h4>
<p>
  <%= f.label :last_tetanus_booster_date, "Last Tetanus Booster Date" %>
  <%= f.text_field :last_tetanus_booster_date %>
</p>

<p>
  <%= f.label :drug_allergies, "Drug Allergies " %>
  <%= f.text_field :drug_allergies %>
</p>

<p>
  <%= f.label :food_allergies, "Food Allergies"%>
  <%= f.text_field :food_allergies %>
</p>

<p>
  <%= f.label :dietary_none, "No Dietary Restrictions " %>
  <%= f.check_box :dietary_none %>
</p>

<p>
  <%= f.label :dietary_red_meat, "Dietary Restriction: Red Meat" %>
  <%= f.check_box :dietary_red_meat %>
</p>

<p>
  <%= f.label :dietary_vegan, "Dietary Restriction: Vegan" %>
  <%= f.check_box :dietary_vegan %>
</p>

<p>
  <%= f.label :dietary_vegetarian, "Dietary Restriction: Vegetarian" %>
  <%= f.check_box :dietary_vegetarian %>
</p>

<p>
  <%= f.label :dietary_dairy_free, "Dietary Restriction: Dairy free" %>
  <%= f.check_box :dietary_dairy_free %>
</p>

<p>
  <%= f.label :dietary_gluten_free, "Dietary Restriction: Gluten free" %>
  <%= f.check_box :dietary_gluten_free %>
</p>

<p>
  <%= f.label :dietary_other, "Other Dietary Restrictions" %>
  <%= f.text_field :dietary_other, :size=>"40" %>
</p>

<p>
  <%= f.label :medications  %>
  <%= f.text_field :medications %>
</p>

<p>
  <%= f.label :accommodations_none, "No Additional Accomodations Needed"  %>
  <%= f.check_box :accommodations_none %>
</p>

<p>
  <%= f.label :accommodations_auditory, "Needs Auditory Accomodations"  %>
  <%= f.check_box :accommodations_auditory %>
</p>

<p>
  <%= f.label :accommodations_visual, "Needs Visual Accomodations"  %>
  <%= f.check_box :accommodations_visual %>
</p>

<p>
  <%= f.label :accommodations_physical, "Needs Physical Accomodations"  %>
  <%= f.check_box :accommodations_physical %>
</p>

<p>
  <%= f.label :accommodations_other, "Other Accomodation Needs "  %>
  <%= f.text_field :accommodations_other %>
</p>

<p>
  <%= f.label :other_medical_concerns, "Other Medical Concerns "  %>
  <%= f.text_field :other_medical_concerns %>
</p>

<p>
  <%= f.submit %>
</p>
<% end %>
