<!-- Applicant DB page -->
<p style="text-align:center">
  <%= form_tag applicants_path, :method => :get do%>
    Find applicant by UIN:
    <%= text_field :find, :uin, size: 9 %>
    <%= submit_tag "Find"%>
  <% end %>
</p>
<br>
<p style="text-align:center">
  <h3>Filter Applicants</h3>
  <%= form_tag applicants_path, :method => :get do%>
    <% if current_user.admin? %>
      Session:
      <% ("A".."G").each do |session|%>
        <%= check_box_tag "sessions[#{session}]", session, @current_sessions.include?(session) %>
        <%= session %>
      <% end %>
    <br>
    <% end %>
    <% if current_user.chair? %>
      Show unevaluated applicants
      <%= check_box_tag "unevaluated", true, @show_unevaluated %>
      <br>
    <% end %>
    Show odds, evens, or all applicants?
    <%= radio_button_tag "show", "odd", @odd %>
    Odd
    <%= radio_button_tag "show", "even", @even %>
    Even
    <%= radio_button_tag "show", "all", @all %>
    All
    <br>
    Gender?
    <%= radio_button_tag "gender", "Male", @male %>
    Male
    <%= radio_button_tag "gender", "Female", @female %>
    Female
    <%= radio_button_tag "gender", "Both", @both %>
    All
    <br>
    Classifications:
    <%= check_box_tag "classifications[Freshmen]", "Freshmen", @current_classifications.include?("Freshmen") %>
    Freshmen
    <%= check_box_tag "classifications[Sophomore]", "Sophomore", @current_classifications.include?("Sophomore") %>
    Sophomore
    <%= check_box_tag "classifications[Junior]", "Junior", @current_classifications.include?("Junior") %>
    Junior
    <%= check_box_tag "classifications[Senior]", "Senior", @current_classifications.include?("Senior") %>
    Senior
    <%= check_box_tag "classifications[Graduate]", "Graduate", @current_classifications.include?("Graduate") %>
    Graduate Student
    <%= submit_tag "Filter"%>
  <% end %>
</p>
<section>
  <table id="Applicants" style="text-align: center">
    <tr>
      <th>UIN</th>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <% if current_user.admin? %>
        <th>Sessions</th>
      <% end %>
      <% if current_user.chair? %>
        <th>Score</th>
      <% end %>
    </tr>
  <% @applicants.each do |applicant| %>
    <tr>
      <td><%= link_to applicant.uin, applicants_path + "/#{applicant.uin}" %></td>
      <td><%= applicant.id%></td>
      <td><%= applicant.first_name %></td>
      <td><%= applicant.last_name %></td>
      <% if current_user.admin? %>
        <td><%= applicant.sessions.map(&:name).sort.join(", ") %></td>
      <% end %>
      <% if current_user.chair? %>
        <td><%= applicant.evaluations.find{|e| e.chair_id == current_user.chair.id}.try(:rating) || "-" %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
  <%= will_paginate @applicants %>
  <% if policy(Applicant).create? %>
    <p>Import Applicant Spreadsheet</p>

    <%= form_tag import_applicants_path, multipart: true do %>
      <%= file_field_tag :file %>
      <%= submit_tag "Import" %>
    <% end %>
  <% end %>
</section>
