<!-- Applicant DB page -->

<html>
  <head>
    <title>Fish Camp Profile</title>
  </head>
  <% unless flash.empty? %>
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= key.upcase %>: <%= value %></div>
        <% end %>
      </div>
    <% end %>
  <body>
    <div class = "header">
      <p style="text-align:right">
        <% if current_user %>
          Signed in as <strong><%= current_user.name %></strong>!
          <%= link_to "Sign out", signout_path, id: "sign_out" %>
        <% else %>
          <%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
          <br>
          Please use a valid TAMU Google login.
        <% end %>
      </p>
    </div>

    <div class = "body">
    <div class = "title">
      <br>
      <h style="font-size:300%">&emsp;&#x1F41F Fish Camp Applicant Database</h>
      <br><br>
    </div>
    <div>
    <%= yield %>
    </div>
    <ul class = "bar">
      <li class = "bar"><%= link_to 'Home', home_path %>
      &emsp;
      <li class = "bar"><%= link_to "Register Now", login_path(:reqpath => 'register') %>
      &emsp;
      <li class = "bar"><%= link_to 'FishCamp Profile', login_path(:reqpath => 'profile') %>
      &emsp;
      <% if current_user %>
      <li class = "bar"><%= link_to 'Applicant Database', applicants_path %>
      <% end %>
    </ul>
    <br>
    <p style="text-align:center">
      <%= form_tag applicants_path, :method => :get do%>
        Filter applicants: 
        <% ("A".."G").each do |session|%>
          <%= check_box_tag "sessions[#{session}]", session, @current_sessions.include?(session) %>
          <%= session %>
        <% end %>
        | Show previously evaluated
        <%= check_box_tag "evaluated", true, @show_evaluated %>
        <%= submit_tag "Filter"%>
      <% end %>
    </p>
    <section>
      <table id="Applicants" style="text-align: center">
        <tr>
          <th>UIN</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Sessions</th>
        </tr>
      <% @applicants.each do |applicant| %>
        <tr>
          <td><%= link_to applicant.uin, applicants_path + "/#{applicant.uin}" %></td>
          <td><%= applicant.first_name %></td>
          <td><%= applicant.last_name %></td>
          <td><%= applicant.sessions.pluck(:name).sort.join(", ") %></td>
        </tr>
      <% end %>
      </table>
      <% if policy(Applicant).create? %>
        Import Applicant Spreadsheet

        <%= form_tag import_applicants_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag "Import" %>
        <% end %>
      <% end %>  
    </section>
    <br>
    </div>
    <div class = "footer">
      <h3>Operated by <a href="http://fishcamp.tamu.edu/">Fish Camp</a> at <a href="http://www.tamu.edu/">Texas A&#38;M University</a>
      <br>
      Hosted by <a href="http://studentactivities.tamu.edu/IT">Student Activities</a> &middot; <a href="http://studentactivities.tamu.edu/site_policies">Site Policies</a></h3>
    </div>
    <br>
    
  </body>
</html>
